$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$expandedHeight: 600px;
$collapsibleHeaderHeight: 75px;
$font: "Times";
$navBar-color: #e7e7e7;
$font-color: rgba(50, 50, 50, 1);
$navLink-color-hover: rgb(175, 196, 207);
$compare-color: rgb(77, 85, 91);


.navCategories
{
  position: relative;
  background-color: $navBar-color;
  top: 50px;
  left: -91px;
  border: solid 0 lightgrey;
  border-width: 1px 0 1px 1px;
  padding: 5px 0 0 5px;
  display: inline-block;
  visibility: hidden;
  cursor: pointer;
  z-index: 99;

  li
  {
    list-style-type: none;
    font-family: "Optima";
    font-size: 15px;
    padding: 9px 0 5px 5px;
    margin-left: -42px;
    height: 38px;
    width: 122px;
    border: solid;
    border-width: 0 1px 1px 0;
    border-color: lightgrey;
    z-index: 99;
  }

  a
  {
    color: $font-color;
    text-decoration: none;
  }

  span
  {
    padding-left: 5px;
  }

}

.navSubCategories
{
  position: absolute;
  top: -1px;
  left: 125px;
  min-width: 119px;
  background-color: $navBar-color;
  padding-left: 5px;
  border: solid;
  border-width: 1px 0 0 0;
  border-color: lightgrey;

  li
  {
    height: 41px;
    padding: 9px 0 5px 5px;
  }

  li:hover
  {
    background-color: white;
  }
}

.currentNavCategory
{
  background-color: white;
  border: solid;
  border-width: 0 0 1px 0;
  border-color: lightgrey;
}


.secondaryNavbar
{
  margin-left: -126px;
}

.mainNavLink
{
  background-color: #e7e7e7;
  color: $font-color;
  transition: .3s;
}

.mainNavLink:hover
{
  background-color: $navLink-color-hover;
  color: white;
}

.categories
{
  height: 40px;
  background-color: rgba(50, 50, 50, 1);
  padding: 9px 5px 0 15px;
  border-radius: 2px 2px 0 0;
  color: rgba(255, 255, 255, 1);

}

.navContainerTitle
{
  font-family: $font;
  font-size: 20px;
  padding: 5px;
  text-decoration: underline;
}

.category
{
  margin: 5px 5px 0 5px;
  padding: 5px 10px 5px 10px;
  font-family: $font;
  font-size: 15px;
  color: whitesmoke;
  border-radius: 1px;
  cursor: pointer;
}

.navContainerTitle:hover, .category:hover
{
  background-color: rgba(60, 60, 60, 1);
  color: rgb(255, 255, 255);
  border-radius: 2px;
}

.cartNav
{
  position: fixed;
  top: 103px;
  right: 0%;
  height: 33px;
  width: 200px;
  margin-left: 5px;
  font-size: 14px;
  padding: 5px 10px 5px 9px;
  border: 2px solid rgb(82, 82, 82);
  background-color: rgba(50, 50, 50, 1);
  color: rgba(210, 210, 210, 1);
  text-align: center;
  cursor: pointer;
  z-index: 99;
}

.cartNav:hover
{
  border-color: rgba(120, 120, 120, 1);
}


.sortItems
{
  position: fixed;
  top: 167px;
  right: 0%;
  margin-left: 5px;
  height: 33px;
  width: 200px;
  padding: 5px 0 10px 5px;
  background-color: rgba(50, 50, 50, 1);
  color: rgba(200, 200, 200, 1);
  text-align: center;
  overflow: hidden;
  transition: .5s;
  z-index: 999;

  div
  {
    position: relative;
    height: 30px;
    margin-top: 10px;

    span
    {
      margin-right: 10px;
      cursor: pointer;
    }

    span:hover
    {
      border: 1px solid rgba(200, 200, 200, 1);
      border-right-width: 0;
      border-left-width: 0;
    }

    input[type=text]
    {
      width: 120px;
      color: rgba(0,0, 0, 1);
    }


  }
}

.sortItems:hover
{
  height: 130px;
  border-radius: 3px 3px 9px 3px;
  transition: .5s;
}


.searchText
{
  font-family: $font;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
}


.compareNav, .showItems
{
  position: fixed;
  right: 0%;
  margin-left: 5px;
  top: 133px;
  width: 200px;
  font-size: 14px;
  padding: 5px 10px 5px 9px;
  border: 2px solid rgb(82, 82, 82);
  background-color: rgba(50, 50, 50, 1);
  color: rgba(210, 210, 210, 1);
  text-align: center;
  cursor: pointer;
  z-index: 99;
}

.showItems
{
  display: none;
  top: 53px;
}

.compareNav:hover, .showItems:hover
{
  border-color: rgba(100, 100, 100, 1);
}


/***** grid start *****/

.categoryTitle
{
  position: absolute;
  top: 73px;
  left: 0%;
  width: 100%;
  text-align: center;
  font-family: $font;
  font-size: 39px;
  color: rgba(130, 130, 130, 1);
  background-color: rgba(26, 41, 58, 0.05);
}

.navContainer
{
  position: absolute;
  top: 210px;
  left: 15%;
  width: 215px;
  border: solid 2px;
  border-radius: 2px;
 /* box-shadow: 1px 1px 1px 1px lightgrey; */
  padding: 10px;
  display: inline-block;
  z-index: 9;

  li
  {
    list-style-type: none;
    color: $font-color;
  }

}

.gridDisplay
{
  position: relative;
  top: 91px;
  left: 5%;
  min-width: 80%;
  min-height: 800px;
  padding-left: 300px;
  margin-bottom: 110px;
}

.gridItemWrapper
{
  display: inline-block;
  width: 225px;
  height: 280px;
  margin: -39px 15px -50px 0;
}

.wishListIcon
{
  position: relative;
  left: 165px;
  top: 37px;
  background-color: #a9bcbb;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0;
  padding: 4px 8px;
  display: inline-block;
}

.wishListIconNotSelected
{
  visibility: hidden;
}

.wishListIconSelected
{
  background-color: #ff2e2e;  /* #ff5f5f;  #f1002a; */
  visibility: visible;
}

.wishListIconSelected:hover
{
  background-color: #ff6d5e;
}

.gridItem
{
  max-width: 20%;
  height: 200px;
  display: inline-block;
  cursor: pointer;

  img
  {
    background-color: rgba(26, 41, 58, 0.05);
    border: 2px solid rgba(255,255,255,0);
    border-radius: 2px;
    box-shadow: 1px 1px 1px #d3d3d3;
    padding-bottom: 45px;
    transition: .3s;
  }

  img:hover
  {
    background-color: rgba(26, 41, 58, 0.21);
    transition: .3s;
  }
}

.gridItemTitle
{
  display: inline-block;
  position: relative;
  width: 200px;
  height: 20px;
  left: 10px;
  top: -41px;
  font-family: $font;
  color: rgba(90, 90, 90, 1);
  font-size: 13px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.gridItemPrice
{
  display: inline-block;
  position: relative;
  width: 200px;
  left: 10px;
  top: -48px;
  font-family: $font;
  color: rgba(110, 110, 110, 1);
  font-size: 13px;
}

.wishListItem
{
  @extend .gridItem;
  margin-top: 32px;
  img {
    padding-bottom: 100px;
  }
}

.wishListTitle
{
  @extend .gridItemTitle;
  top: -100px;
}

.wishListPrice
{
  @extend .gridItemPrice;
  top: -109px;
}

.removeFromWishList
{
  display: inline-block;
  position: relative;
  top: -94px;
  left: 48px;
  border: solid 1px;
  padding: 7px 25px;
  transition: .5s;
}

.removeFromWishList:hover
{
  background-color: #b42525; /* rgba(26, 41, 58, 0.72); */
  color: white;
  cursor: pointer;
}

.gridImageLarge
{
  position: absolute;
  top: 210px;
  max-height: 400px;
  border: solid 1px lightgrey;
  border-radius: 3px;
}

.itemContainer
{
  width: 100%;
}


.gridImageLargeContainer
{
  width: 450px;
  height: 450px;
}

.itemTitle
{
  @extend .categoryTitle;
  position: static;
  font-size: 30px;
}

.itemViewWishListButton
{
  min-width: 150px;
  font-family: $font;
  font-size: 14px;
}

.itemInWishList
{
  background-color: #b72b2b;
  color: white;
}

.itemInWishList:hover
{
  background-color: #ff6d5e;
  color: white;
}

.itemNotInWishList
{
  background-color: white;
}


.pageNavContainer
{
    position: relative;
    top: -30px;
    left: 5%;
    width: 87%;
    padding-left: 300px;
    text-align: right;
    display: inline-block;
}


.previousPage, .nextPage
{
  position: relative;
  font-weight: bold;
  color: rgba(26, 41, 58, 0.81);
  cursor: pointer;
  border: solid;
  padding: 5px 5px 6px;
}

.previousPage
{
  padding-right: 6px;
  margin-right: -4px;
  border-width: 1px 0 1px 1px;
}


.pageNumbers
{
  color: rgba(26, 41, 58, 0.81);
  padding: 5px 8px 4px;
  border: solid rgba(26, 41, 58, 0.9);
  border-width: 1px 0 1px 1px;
  cursor: pointer;
}

.currentPageNumber
{
  background-color: rgba(26, 41, 58, 0.9);
  color: white;
  border-color: rgba(26, 41, 58, 0.9);
}

.pageNumbers:hover
{
  color: white;
  background-color: rgba(26, 41, 58, 0.7);
  border-color: rgba(26, 41, 58, 0.9);
}

.nextPage
{
  padding-left: 5px;
  margin-left: -5px;
  border-width: 1px;
}

.previousPage:hover, .nextPage:hover
{
  color: white;
  background-color: rgba(26, 41, 58, 0.7);
  border-color: rgba(26, 41, 58, 0.9);
}
/***** grid end *****/

/***** collapsible start *****/

.collapsibleDisplay
{
  left: 0;
  min-width: 800px;
}

.displayTitle
{
  margin: 10px 0 40px 30px;
  font-family: $font;
  text-decoration: underline;
}

.collapsibleItem
{
  position: relative;
  height: $collapsibleHeaderHeight;
  width: 100%;
  border: 0 solid rgb(255, 255, 251);
  border-bottom-width: 6px;
  margin-bottom: 3px;
  overflow: hidden;
}


.collapsibleImgSmall
{
  position: absolute;
  top: 0px;
  left: 25px;
  max-height: $collapsibleHeaderHeight;
  max-width: $collapsibleHeaderHeight;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 3px;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
}


.collapsibleImgLarge
{
  position: absolute;
  top: 100px;
  left: 25px;
  max-height: $expandedHeight * .5;
  max-width: $expandedHeight * .4;
  border: 6px solid rgb(239, 239, 239);
  border-radius: 3px;
  z-index: 10;
  cursor: pointer;
  opacity: 0;
}


.collapsibleHeader
{
  position: absolute;
  top: 0px;
  left: 0%;
  height: $collapsibleHeaderHeight;
  width: 100%;
  cursor: pointer;
  transition: .2s;
}

.collapsibleHeader:hover
{
  background-color: rgba(26, 41, 58, 0.18);
  transition: .2s;
}


.collapsibleTitle
{
  position: relative;
  width: 120px;
  height: 40px;
  top: 15px;
  left: 15%;
  border-radius: 1px;
  float: left;
  font-family: $font;
  color: $font-color;
  font-size: 14px;
  text-align: center;
}

.collapsibleDescription
{
  position: absolute;
  top: 14px;
  left: 55%;
  width: 170px;
  font-family: $font;
  color: $font-color;
  float:left;
}

.cartStatus
{
  position: absolute;
  top: 14px;
  right: 15%;
  font-family: $font;
  color: rgb(107, 127, 155);
}

.cartStatus:hover
{
  color: rgba(50, 50, 50, 1);
}

.itemPrice
{
  position: absolute;
  left: 35%;
  top: 15px;
  float:left;
  font-family: $font;
  color: $font-color;
  font-size: 14px;
}

.collapsibleContent
{
  position: relative;
  max-height: 50%;
  float: left;
  top: 90px;
  margin: 0 5% 0 35%;
  padding: 15px;
  background-color: rgba(245, 245, 245, 1);
  border-radius: 3px;
  line-height: 150%;
  font: $font;
  color: $font-color;
  overflow: auto;
}

.addToCart, .compare
{
  position: absolute;
  left: 38px;
  top: 365px;
  height: 30px;
  width: 100px;
  font-size: 14px;
  padding: 5px 10px 10px 10px;
  border-radius: 5px;
  background-color: $compare-color;
  color: rgba(210, 210, 210, 1);
  text-align: center;
  cursor: pointer;
}

.compare
{
  left: 158px;
}

.addToCart:hover, .compare:hover
{
  opacity: .6;
  transition: .1s;
}


.expand
{
  height: $expandedHeight;
  background-color: rgba(250, 250, 250, 1);
  transition: .8s;
}

.zoom
{
  max-height: 60%;
  max-width: 80%;
  transition: .5s;
}

/***** collapsible end *****/

.compareDisplay
{
  display: none;
  left: 0%;
  min-width: 800px;
  overflow: auto;

  ul
  {
    position: relative;
    top: 0;
    left: 0;
    height: 400px;
    z-index: 99;
  }

  li
  {
    position: absolute;
    top: 0;
    display: inline;
    list-style-type: none;
    height: 350px;
    width: 150px;
    margin-bottom: 10px;
    background-color: rgba(245, 245, 245, 1);
    padding: 10px 0 10px 5px;
    border-radius: 3px;
    transition: .5s;
  }

}

.compareItem
{
  position: relative;
  top: 0;
  border: 1px solid rgba(0, 0, 0, 1);
  width: 150px;
  height: 200px;
  text-align: center;
}

.compareImg
{
  position: absolute;
  top: 5px;
  left: 5px;
  border: 2px solid rgb(255, 255, 255);
  max-width: 140px;
  overflow: visible;
}


.removeCompare, .addToCartCompare
{
  position: absolute;
  top: 320px;
  width: 150px;
  left: 0;
  padding: 5px 10px 5px 10px;
  background-color: $compare-color;
  color: rgba(200, 200, 200, 1);
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
}

.addToCartCompare
{
  top: 280px;
}


.compareTitle
{
  position: absolute;
  top: 160px;
  left: 0;
  width: 100%;
  height: 50px;
  font-family: $font;
  font-size: 15px;
  margin-right: 0;
  overflow: auto;
  text-align: center;
}



.comparePrice
{
  position: absolute;
  top: 250px;
  left: 0%;
  width: 100%;
  font-family: $font;
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
  z-index: 99;
  text-align: center;
}


.shoppingCartDisplay
{
  display: none;
  left: 0;
  min-width: 800px;
}


.cartItem
{
  height: 100px;
  border: 1px solid black;
  border-left-width: 0;
  border-right-width: 0;
  margin-bottom: 15px;
}

.cartImage
{
  position: relative;
  top: 10px;
  max-height: 80px;
  border: 1px solid white;
  border-radius: 2px;
}

.cartItemName
{
  position: relative;
  top: -60px;
  left: 15%;
  font-family: $font;
  font-size: 18px;
}

.removeFromCart
{
  position: relative;
  top: -50px;
  left: 15%;
  padding: 5px 10px 5px 10px;
  background-color: $compare-color;
  color: rgba(200, 200, 200, 1);
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
}

.cartItemPrice
{
  position: relative;
  top: -50px;
  left: 75%;
}

.cartBottomLine
{
  height: 90px;
  border: 2px solid black;
  border-left-width: 0;
  border-right-width: 0;
}

.grandTotal
{
  position: relative;
  top: 50px;
  right: -80%;
  font-family: $font;
  font-size: 18px;
}


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  overflow: scroll;
  background-color: rgba(206, 111, 68, 0.05);
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 1200px;  /* 730px; */
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
