<div class="collapsibleItem">
    <img class="collapsibleImgSmall" ng-src="{{ item.imageThumb }}" />
    <div class="collapsibleHeader">
        <span class="collapsibleTitle">{{ item.title }}</span>
        <p class="itemPrice">{{ item.price | currency:$ }}</p>
        <span class="collapsibleDescription">{{ item.description }}</span>
        <span class="cartStatus" ng-show="item.inCart" ng-click="switchView('cart')"><em>In Cart</em></span>
    </div>
        <img class="collapsibleImgLarge"/>
        <span class="content">
            <p class="collapsibleContent">{{ item.content }}</p>
            <span class="addToCart" ng-click="addToCart(item)">Add to Cart</span>
            <span class="compare" ng-click="addCompare(item)">Compare</span>
        </span>
</div>

<script>
    /*
        $('.collapsibleDisplay').fadeOut(100);
        $('.shoppingCartDisplay').hide();
        $('.compareDisplay').hide();
        $('.sortItems').show();

        function display(delay) {
            if (!delay) {
                delay = 150;
            }
            $timeout(function() {
                $scope.currentCategory = category;
                $scope.infoList.items = $scope.allItems[category].slice();
                $timeout(function() {
                    $('.collapsibleDisplay').fadeIn("fast");
                //    $location.path($scope.currentCategory);
                }, 100);
            }, delay);
        }

        if ($scope.allItems[category]) {
            display(150);
        } else {
            getCategoryItems(category, display, 150);
        }
        */
</script>