
<div class="categories">
        <span class="category" ng-click="setCategory(category)" ng-repeat="category in categories">
            {{ category | firstLetterCaps }}
        </span>
    </div>
<div class="itemContainer" ng-init="loadItem()">
    <div class="gridImageLargeContainer">
        <img class="gridImageLarge" src="{{ item.image }}">
    </div>
    <span class="itemTitle">{{ item.title }}</span>

    <span>{{ item.description }}</span>
    <br />
    <span>{{ item.content }}</span>
</div>