<div class="container">
    <span class="categoryTitle" ng-bind="currentSubCategory +' '+ currentCategory +' '+ sortBy | firstLetterCaps"></span>


    <ul class="navContainer">
        <li class="navContainerTitle" ng-click="setCategory(currentCategory)" ng-bind="'All '+ currentCategory | firstLetterCaps"></li>
        <li class="category" ng-click="setSubCategory(subCategory)" ng-repeat="subCategory in subCategories"
            ng-bind="subCategory +' '+ currentCategory | firstLetterCaps">
        </li>
        <a href="#/jewelry/wish-list"><li class="category">Wish List</li></a>
        <li><p class="searchText">Sort/Search</p>
            <div>
                <span ng-click="sortItemsByPrice('low')">Price Low</span>
                <span ng-click="sortItemsByPrice('high')">Price High</span>
            </div>
            <form class="form-search">
               <div class="input-append">
                    <input placeholder="Search" type="text" class="span2 search-query" ng-model="searchTerms">
                    <button class="btn btn-default glyphicon glyphicon-search" ng-click="searchItems()"></button>
                </div>
            </form>
        </li>
    </ul>

    <div class="gridDisplay">
        <span class="pageNavContainer">
            <span ng-show="showPageNumbers">
                <span class="previousPage glyphicon glyphicon-menu-left" ng-click="pageNav('previous')"></span>
                <span class="pageNumbers" ng-class="{'currentPageNumber': pageNumber === $index}" ng-repeat="page in numberOfPagesDisplay() track by $index" ng-click="setPageNumber($index)" ng-bind="$index + 1"></span>
                <span class="nextPage glyphicon glyphicon-menu-right" ng-click="pageNav('next')"></span>
            </span>
        </span>
        <span class="gridItemWrapper" ng-repeat="item in infoList.items">
            <grid></grid>
        </span>
    </div>
    <span ng-show="showPageNumbers" class="pageNavContainer">
        <span class="previousPage glyphicon glyphicon-menu-left" ng-click="pageNav('previous')"></span>
        <span class="pageNumbers" ng-class="{'currentPageNumber': pageNumber === $index}" ng-repeat="page in numberOfPagesDisplay() track by $index" ng-click="setPageNumber($index)" ng-bind="$index + 1"></span>
        <span class="nextPage glyphicon glyphicon-menu-right" ng-click="pageNav('next')"></span>
    </span>

</div>
