<div class="container" ng-init="loadWishList()">
    <span class="categoryTitle">{{ category || '' | firstLetterCaps }} {{category ? "in" : ''}} Wish List</span>
    <ul class="navContainer">
        <a href="#/jewelry/wish-list"><li class="navContainerTitle">Wish List</li></a>
        <li class="category" ng-click="setCategory(category)" ng-repeat="category in categories">
            {{ category | firstLetterCaps }}
        </li>
        <li>Shopping Cart:
            {{ cartItemsLength || "Empty" }}
        </li>
        <li><p class="searchText">Sort/Search</p>
            <div>
                <span ng-click="sortItemsByPrice('low')">Price Low</span>
                <span ng-click="sortItemsByPrice('high')">Price High</span>
            </div>
            <form class="form-search">
               <div class="input-append">
                    <input placeholder="Search" type="text" class="span2 search-query" ng-model="searchTerms">
                    <button class="btn btn-default glyphicon glyphicon-search" ng-click="searchItems()"></button>
                </div>
            </form>
        </li>
    </ul>

    <div class="gridDisplay">
        <span class="pageNavContainer">
        </span>
        <span class="gridItemWrapper" ng-repeat="item in infoList.items track by $index">
            <wish-list-item></wish-list-item>
        </span>
    </div>



</div>
